html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Courier New', Verdana, sans-serif;
  text-align: center;
  padding: 24px;
  border-bottom: solid black 1px;
  background-color: darkcyan;
  color: white;
  box-shadow: 0 0 5px black;
}

h3 {
  text-align: left;
  margin-left: 24px;
}

img {
  object-fit: cover;
  display: block;
  margin: auto;
}

div {
  width: 600px;
  margin: auto;
}

.description p {
  text-align: justify;
  padding: 0px 32px;
  font-size: 20px;
}

.ingredients {
  font-weight: bold;
  font-size: 18px;
}

.instructions {
  line-height: 1.5;
  font-size: 18px;
}

.navmenu li {
  list-style-type: none;
  text-align: center;
}

.navmenu a {
  font-size: 20px;
  font-weight: bold;
  padding: 24px;
  display: block;
  text-decoration: none;
  color: black;
}

.navmenu a:hover {
  background-color: darkcyan;
  color: white;
  box-shadow: 0 2px 5px black;
}